.aq_dash{
    width: 500px;
    padding-right: 40px;
    padding-left: 40px;
    border-right: 10px dashed aqua;
    border-left: 10px dashed aqua;


    height: 300px;
    outline: 10px gold dotted;

    margin: 25px 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

