body {
    background-color: #A80000;
    background-image: url("https://seeklogo.com/images/C/CARNet-logo-2F1448D858-seeklogo.com.png");
/*background-repeat: repeat-y;*/
   /* background-repeat: repeat-x;*/
    background-repeat: no-repeat;
    background-position: 200px 95px;
;
}



h1{ background-color: #C00000}

p{background-color: #E00000}

