header{
    width:100%;
    height:100px;
    background-color:royalblue;
    display: flex;
    position: sticky;
    top: 0;

}

.glavninaslov{
    color: goldenrod;
    font-size: 40px;
    font-weight: bolder;
    margin: auto;

}

main{
    width:100%;
    background-color:lightskyblue;

}

footer{
    width:100%;
    height:200px;
    background-color:lightblue;
    display: flex;
    justify-content: space-around;
}

.prvalista {
    list-style-type: none;
    display: flex;
    text-align:center ;

}
li{
    padding: 40px;
}

.megaaaa{
    float: right;
    width: 350px;

}
p{
    font-size: 20px;
}